{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<style>

#content {
	padding: 0px;
}
#map {
	width: 100%;
	height: calc(100vh - 30vh);
}

#filters-div {
    height: 60px;
    padding: 10px 15px;
}

.marker-content {
    width: 150px;
}

.filter-option {
    display:inline-block;
    margin-right: 20px;
    padding: 10px;
    border:1px solid #c7c7c7;
    border-radius: 4px;
}
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	width: 100%;
	height:100%;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table th {
	padding:15px 25px 15px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	text-align: center;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: center;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
</style>

<div id="map">
</div>

<div id = "legend">
    <img src =  "/static/img/crisislegend.png" width = "50px" height="180px"/>
</div>

<div class="row">
    <table class="text-center">
        <thead>
            <tr>
                <th> District </th> <th> Suggested Crisis Level </th>
            </tr>
        </thead>
        <tbody>
            {% for district, value in data.crises.items %}
                <tr> <td> {{district}} </td> <td> {{value}} </td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
	var marker;

    function generateInfoWindowHtml(event){
        var html = '<div class="marker-content"><p>' +
            '<strong> Reported by: </strong> ' + event['name'] + '<br/>' +
            '<strong> Description: </strong>' + event['description'] + '<br/>' +
            '<strong> Operator: </strong>' + event['operator'] + '<br/>' +
            '</p></div>';
        return html;
    }

	function initMap() {
        var mapDiv = document.getElementById('map');
        var infowindow =  new google.maps.InfoWindow();
        var weatherGeoJSON, eventsGeoJSON, dengueGeoJSON;

        var map = new google.maps.Map(mapDiv, {
          center: {lat: 1.364922150947930, lng: 103.80912780761719},
          zoom: 11
        });

        var getDistricts = function() {
            $.ajax({
                url: '/cms_admin/get_districts',
                dataType: 'json'
            }).done(function (data) {
                 map.data.addGeoJson(data);
            });
        };

        getDistricts();

        var crisisSetterForm

        map.data.addListener('click', function(event) {
            var feature = event.feature
            var iconbase = '/static/img/';
            var type = feature.getProperty('type');

            if (type == 'district') {
                infowindow.setContent("<div style='width:170px; text-align:center; padding: 5px;'><b>"+feature.getProperty('name_1') + "</b><hr style='margin:3px;'/> <img src='" + iconbase+'crisis.png'+"' height= 30px width = 30px/>  Crisis: <span style='font-size: 60px'>"+ feature.getProperty('crisis') +"</span><hr/><div class='setter' ><select style = 'width:100%; background-color:rgba(210, 77, 87, 0.2); padding :2px; margin-bottom:3px;'id ='"+ feature.getProperty('name_1') + "Select'> <option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option> <option value='4'>4</option><option value='5'>5</option></select><button style='background-color:#e74c3c; width:100%; color:white; class='crisisButton' id ='CrisisButton' value='"+feature.getProperty('name_1') +"'>Change</button></div></div>");

                infowindow.setPosition(new google.maps.LatLng(feature.getProperty('center')[0],feature.getProperty('center')[1]));
                infowindow.open(map);
            }
        });

        map.data.setStyle(function(feature) {
            var iconbase = '/static/img/';
            var type = feature.getProperty('type');
            if (type == 'district') {
                switch (feature.getProperty('crisis')) {
                    case 0 : {
                        return {
                            fillColor: "rgb(255, 255, 255)",
                            strokeColor: "rgb(255, 255, 255)",
                            strokeWeight: 2
                        }
                    }

                    case 1: {
                        return {
                            fillColor: "rgb(233,212,96)",
                            strokeColor: "rgb(233,212,96)",
                            strokeWeight: 2
                        }
                    }
                    case 2: {
                        return {
                            fillColor: "rgb(242, 120, 75)",
                            strokeColor: "rgb(242, 120, 75)",
                            strokeWeight: 2
                        }
                    }

                     case 3: {
                        return {
                            fillColor: "rgb(211, 84, 0)",
                            strokeColor: "rgb(211, 84, 0)",
                            strokeWeight: 2
                        }
                    }

                    case 4: {
                        return {
                            fillColor: "rgb(246, 36, 89)",
                            strokeColor: "rgb(246, 36, 89)",
                            strokeWeight: 2
                        }
                    }

                    case 5: {
                        return {
                            fillColor: "rgb(207, 0, 15)",
                            strokeColor: "rgb(207, 0, 15)",
                            strokeWeight: 2
                        }
                    }
                };
            }
        });

        $( "#map" ).delegate('#CrisisButton','click', function() {
            var district = $( "#CrisisButton" ).val();
            var selectbuttonname = "#"+district+"Select"
            var newvalue = $(selectbuttonname).val();
            var textToDisplay = "Confirm Set Crisis Level of "+ district + " to " + newvalue + "?"
            var r = confirm(textToDisplay);
            if (r == true){
                $.ajax({
                    url: '/cms_admin/set_crisis',
                    data: {
                        district: district,
                        newcrisis: newvalue
                    },
                    dataType: 'json',
                    method: 'GET',
                })
                infowindow.close();
                map.data.forEach(function(feature) {
                        map.data.remove(feature);
                });
                getDistricts();
            }
        });

        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(
            document.getElementById('legend'));
        }


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdsOKjIwnD16rVjw8MsOoEMkVo8BzHWeI&callback=initMap"
type="text/javascript"></script>


{% endblock content %}
