{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
	a {
		font-weight: 400;
		line-height: 1.5;
		font-size: 1.2rem;
	}

	a:hover, a:focus {
		text-decoration: none;
	}

	.breadcrumb {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0.75rem 1rem;
		margin-bottom: 1rem;
		list-style: none;
		background-color: #e9ecef;
		border-radius: 0.25rem;
		position: fixed;
		top: 80px;
		left: 240px;
		z-index: 5;
	}

	.breadcrumb-item + .breadcrumb-item {
		padding-left: 0.5rem;
	}

	.breadcrumb-item + .breadcrumb-item::before {
		display: inline-block;
		padding-right: 0.5rem;
		color: #6c757d;
		content: "|";
	}

	.breadcrumb-item + .breadcrumb-item:hover::before {
		text-decoration: underline;
	}

	.breadcrumb-item + .breadcrumb-item:hover::before {
		text-decoration: none;
	}

	.breadcrumb-item.active {
		color: #6c757d;
	}

	.tablediv {
		padding-top: 80px;
		width: 100%;
	}

	.log-table {
		margin-top: 100px;
		z-index: 0;
	}
</style>

<div class="container-fluid">

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href='#Incidents'>Incidents</a>
		</li>
		<li class="breadcrumb-item">
			<a href='#Crisis'>Crisis</a>
		</li>
	</ol>

	<div class ="card mb-3 log-table" id='Incidents'>
		<div class="card-header">
			<b><i class="fa fa-table"></i> Incidents </b>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover w-100" cellspacing='0'>

					<thead>
						<tr>
							<th style="width:16%">Event Type</th>
							<th style="width:14%">Location</th>
							<th style="width:14%">Log Type</th>
							<th style="width:40%">Changes Made</th>
							<th style="width:16%">Operator/Admin</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th style="width:16%">Event Type</th>
							<th style="width:14%">Location</th>
							<th style="width:14%">Log Type</th>
							<th style="width:40%">Changes Made</th>
							<th style="width:16%">Operator/Admin</th>
						</tr>
					</tfoot>

					<tbody>
						{% for log in data.eventTransactionLog %}
						<tr {% if forloop.counter0|divisibleby:2 %} class='even'{% endif %}>
							<td>{{log|type}}</td>
							<td>{{log.event.location|address}}</td>
							<td>{{log|tran}}
							<td>{{log.desc}}</td>
							<td>{{log|adminop}}</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>

	<div class="card mb-3 log-table" id='Crisis'>
		<div class="card-header">
			<b><i class="fa fa-table"></i> Crisis </b>
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered table-striped w-100" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

					<thead>
						<tr>
							<th style="width:25%">District</th>
							<th style="width:25%">New Crisis Level</th>
							<th style="width:25%">Admin ID</th>
							<th style="width:25%">Time</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th style="width:25%">District</th>
							<th style="width:25%">New Crisis Level</th>
							<th style="width:25%">Admin ID</th>
							<th style="width:25%">Time</th>
						</tr>
					</tfoot>

					<tbody>
						{% for log in data.crisisLogDatabase %}
						<tr {% if forloop.counter0|divisibleby:2 %} class='even'{% endif %}>
							<td>{{log.district}}</td>
							<td>{{log.new_crisis}}</td>
							<td>{{log.admin}}</td>
							<td>{{log.date_recorded}}</td>
						</tr>
						{% endfor %}
					</tbody>
					<!-- Table Body -->

				</table>
			</div>
		</div>
	</div>

</div>
{% endblock content %}
